body{
    margin: 0;
}
h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color: #6e6e6e;
}
#myhader{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.flexible-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
#header-content{
    text-align: center;
    width: 50%;
}
#content-header{
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}
#content-paragraph{
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 80px;
}
.link-button {
    text-decoration: none;
    color: #fff;
    background-color: #ff6347;
    padding: 15px 40px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 25px;
}







.column-option{
    flex-direction: column;
}
.flexible-header{
    width: 50%;
    text-align: center;
    margin-bottom: 60px;
}


.option{
    display: flex;
    margin-bottom: 40px;
}
.card{
    background-color: #f0e0e091;
    color: #6e6e6e;
    font-size: 25px;
    padding: 45px 35px;
    margin: 10px;
    font-weight: 700;
}
.active{
    border: 3px solid #ff6347;
    border-radius: 5px;
    background-color: #ff63471f;
    color: #ff6347;
}





.input-fild input{
    width: 450px;
    font-size: 25px;
    text-align: center;
    border-width: 0 0 1px;
    border-color: #6e6e6e;
    margin-bottom: 60px;
}






.box-model{
    display: flex;
    margin-bottom: 60px;
}
.box{
    width: 300px;
    padding: 40px;
    margin: 10px;
}
.icon{
    width: 55px;
}
.bg-color-a{
    background-color: #ffe4c493;
}
.bg-color-b{
    background-color: rgba(128, 231, 196, 0.167);
}
.bg-color-c{
    background-color: rgba(216, 212, 175, 0.342);
}





  

.half-width{
    width: 600px;
    padding: 25px;
    margin: 25px;

}
.half-width img{
    width: 600px;
    height: 550px;
}
.half-width p{
    margin-bottom: 60px;
}






.about-me-container{
    background-color: #67c4a535;
    width: 1100px;
    margin: 0 auto;
    box-shadow: 20px 20px 40px #b1afa8af;
    padding: 25px;
    margin-bottom: 80px;
    border-radius: 10px;
}
.about-box{
    width: 500px;
    margin: 10px;
    padding: 20px;
}
.about-box img{
    width: 30%;
}
.about-box-color{
    background-color: #fff;
}






.input-content{
    flex-direction: column;
}
.input-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 710px;
    height: 180px;
    background-color: rgba(243, 163, 58, 0.21);
    padding: 20px;
}
.input-form input{
    text-align: left;
    font-size: 25px;
    width: 280px;
    height: 40px;
    padding: 10px;
    background-color: #41828e30;
    border: none;
    border-radius: 10px 0 0 10px;
}
.btn{
    color: #fff;
    background-color: #ff6347;
    padding: 15px 30px;
    border: 1px solid #ddd;
    border-radius: 0 10px 10px 0;
    font-weight: 600;
    font-size: 25px;
    margin-left: -5px;
}







#footer-background{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}
.f-header{
    color: #ff6347;
    font-family: Lucida Handwriting, 'Source Sans Pro', sans-serif;
    margin-bottom: 40px;
}
.f-text{
    color: rgba(239, 206, 206, 0.537);
    font-size: 18px;
    font-family: cursive, 'Source Sans Pro', sans-serif;
}